
*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
nav{
    height: 800px;
    width: 100%;
    background-image: url("background.png");
    background-size: cover;
}
.navbar{
    display: flex;
    justify-content: flex-start;
    padding-top: 10px;
}
.brandname{
    margin-left: 10vw;
    font-size: 2vw;
    color: white;
    font-weight: 600;
}
.menu{
    margin-left: 5vw;
    padding-top: 9px;
}
a:hover{
    color: rgb(121, 195, 232);
}
a{
    color: white;
    margin-left: 2vw;
    font-size: 1vw  ;
    font-weight: 600;
    text-decoration: none;
}
.get-now{
    margin-left: 25vw;
    padding: 1vw 1.5vw;
    border: none;
    border-radius: 5px;
    background-color: rgb(65, 144, 218);
    color: rgb(244, 239, 239);
    font-size: 1vw;
    font-weight: 600;
    display: flex;
    gap: 1vw;
}
.hero-section{
    display: flex;
}
.img-section{
    height: 600px;
    width: 60vw;
}
.best-hospital{
    font-size: 4vw;
    font-weight: 800;
    color: white;
    position: absolute;
    margin-top: 16%;
    margin-left: 13vw;
    line-height: px;
}
.learge-object{
    position: absolute;
    margin-top: 30%;
    margin-left: 13vw;
    font-size: 1.5vw;
    color: white;
}
.button{
    display: flex;
    gap: 1vw;
    position: absolute;
    margin-top: 37%;
    margin-left: 13vw;
}
.button1{
    padding: 1vw 3vw;
    border-radius: 28px;
    color: white;
    font-size: 1vw;
    font-weight: 600;
    background-color: rgb(13, 121, 221);
}
#quote{
    border: none;
}
#learn-more{
    border: 2px solid rgb(236, 233, 233);
    background-color: transparent;
}
.box{
    height: 600px;
    width: 21vw;
    background-color: white;
    margin: 20% 5vw;
    border-radius: 10px;
}
#appointment{
    font-size: 1.5vw;
    font-weight: 700;
    padding: 40px 3.7vw;
}

    
