
*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
nav{
    height: 800px;
    width: 100%;
    background-image: url("background.png");
    background-size: cover;
}
.navbar{
    display: flex;
    justify-content: flex-start;
    padding-top: 10px;
}
.brandname{
    margin-left: 10vw;
    font-size: 2vw;
    color: white;
    font-weight: 600;
}
.menu{
    margin-left: 5vw;
    padding-top: 9px;
}
a:hover{
    color: rgb(121, 195, 232);
}
a{
    color: white;
    margin-left: 2vw;
    font-size: 1vw  ;
    font-weight: 600;
    text-decoration: none;
}
.get-now{
    margin-left: 25vw;
    padding: 1vw 1.5vw;
    border: none;
    border-radius: 5px;
    background-color: rgb(65, 144, 218);
    color: rgb(244, 239, 239);
    font-size: 1vw;
    font-weight: 600;
    display: flex;
    gap: 1vw;
    cursor: pointer;
}
.hero-section{
    display: flex;
}
.img-section{
    height: 600px;
    width: 60vw;
}
.best-hospital{
    font-size: 4vw;
    font-weight: 800;
    color: white;
    position: absolute;
    margin-top: 16%;
    margin-left: 13vw;
    line-height: px;
}
.learge-object{
    position: absolute;
    margin-top: 30%;
    margin-left: 13vw;
    font-size: 1.5vw;
    color: white;
}
.button{
    display: flex;
    gap: 1vw;
    position: absolute;
    margin-top: 37%;
    margin-left: 13vw;
}
.button1{
    padding: 1vw 3vw;
    border-radius: 28px;
    color: white;
    font-size: 1vw;
    font-weight: 600;
    background-color: rgb(13, 121, 221);
    cursor: pointer;
}
#quote{
    border: none;
}
#learn-more{
    border: 2px solid rgb(236, 233, 233);
    background-color: transparent;
}
.box{
    height: 580px;
    width: 21vw;
    background-color: white;
    margin: 25% 5vw;
    border-radius: 10px;
}
#appointment{
    font-size: 1.5vw;
    font-weight: 700;
    padding: 40px 3.7vw;
}
.bio{
    margin-left: 8.5vh;
    padding-top: 8px;
    color: rgb(55, 54, 54);
    font-size: 0.9vw;
    font-weight: 600;
}
input{
    padding: 15px 1.8vw;
    margin-left: 4vw;
    box-shadow: rgba(195, 195, 197, 0.25) 0px 30px 60px -12px inset, rgba(162, 158, 158, 0.3) 0px 18px 36px -18px inset;
    border: 1px solid rgb(172, 170, 170);
    border-radius: 4px;
    margin-top: 10px;
}
.select{
    height: 45px;
    width: 14vw;
    border: 1px solid rgb(172, 170, 170);
    margin-top: 10px;
    margin-left: 4vw;
    border-radius: 4px;
    box-shadow: rgba(195, 195, 197, 0.25) 0px 30px 60px -12px inset, rgba(162, 158, 158, 0.3) 0px 18px 36px -18px inset;
    display: flex;

}
.please{
    margin: 13px 2vw;
    color: rgb(112, 107, 107);
    font-size: 1vw;
}
#arrow1{
    color: rgb(88, 88, 91);
    margin: 16px 1vw;
    font-size: 1vw;
}
.booking{
    margin-top: 40px;
    margin-left: 62px;
    padding: 15px 40px;
    background-color: rgb(65, 144, 218);
    border: none;
    color: white;
    font-size: 1vw;
    font-weight: 700;
    border-radius: 7px;
    cursor: pointer;
}
.leading-medicine1{
    /* height: 600px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.leading-medicine-para{
    width: 40%;
    text-align: center;
}
h2{
    font-size: 40px;
    margin-top: 70px;
}
.medi-info{
    color: rgb(109, 107, 107);
    margin-top: 30px;
}   
.help-box{
    height: 330px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.inner-box{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
}
.image-part{
    height: 38%;
    border: 2px solid rgb(10, 102, 131);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: rgb(65, 117, 157);
}
.para-part{
    height: 62%;
    border: 1px solid rgb(49, 125, 182);
    border-radius: 10px;
    
}
.image-part{
    display: flex;
}
.image-part>img{
    width: 70px;
    height: 70px;
    margin: 30px 20px 0 40px;
    background-color: white;
    border-radius: 50%;
}
h3{
    margin-top: 55px;
    color: white;
}
.para-info{
    width: 80%;
    height: 90%;
    margin: 15px 0 0 40px;
}
.info{
    font-size: 14px;
    line-height: 25px;
    font-weight: 600;
    color: rgb(64, 55, 55);
}
.learn-btn{
    color: blue;
    font-size: 14px;
    font-weight: 600;
}


    
