@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;400;500&family=Noto+Sans:wght@200;300;400;500&family=Poppins:wght@600&family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family:  'Jost', sans-serif ;
}
 
nav{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}
#menu-icon{
    display: none;
}
.logo{
    display: flex;
    margin-left: 30px;

}
#guru{
    font-size: 5vh;
    font-weight: 700;
    margin-left: 10px;
    margin-top: 5px;
}
.menu{
    height: 40px;
    width: 40%;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
a{
   font-size: 18px;
   color: rgb(56, 54, 54);
   text-decoration: none;
   font-weight: 500;
}
a:hover{
    color: orange;
}
#sign-up{
    padding: 17px 35px;
    background-color: white;
    font-size: 15px;
    font-weight: 600;
}
#user-profile{
    display: none;
}
.hero-section{
    width: 100%;
    display: flex;
}
.writing-section{
    width: 60%;
    /* background-color: red; */
}
.image-section{
    height: 100%;
    width: 40%;
    /* background-color: blue; */
}
.writing{
    margin-left: 140px;
    margin-top: 130px;
}
.h1{
    font-size: 2vw;
}
.learning-system{
    margin-top: 10px;
    border-left: 2px solid rgb(79, 79, 79);
    padding: 15px;
    font-size: 25px;
    letter-spacing: 2px;
    color: rgb(60, 59, 59);
}
.button1{
    margin-top: 40px;
}
#get-started{
    padding: 24px 48px;
    font-size: 18px;
    color: rgb(223, 206, 206);
    background-color: orangered;
    border: none;
}
#learn-more{
    padding: 23px 48px;
    font-size: 18px;
    margin-left: 15px;
}
.orange-arrow{
    position: absolute;
    margin-left: 48%;
}
.curve-arrow{
    position: absolute;
    margin-top: 25%;
    margin-left: 31%;
}
.main-image-bg{
    position: absolute;
    height: 50px;
    margin-top: 9%;
    margin-left: 5%;
}
.main-image{
    position: absolute;
    height: 200px;
    margin-top: 10%;
    margin-left: 10%;
}
#man-image{
    width: 305px;
    border-radius: 100px;
}
.main-image-pattern{
    position: absolute;
    height: 50px;
    margin-top: 7%;
    margin-left: 4%;
}
.circle{
    position: absolute;
    margin-top: 35%;
    margin-left: 35%;
}
.green-arrow{
    position: absolute;
    margin-top: 40%;
    margin-left: 5%;
}
.footer{
    height: 270px;
    width: 100%;
    background-color: rgb(71, 71, 190);
    margin-top: 140px;
    display: flex;
    
}

.best{
    width: 45%;
    margin-left: 9%;
    color: beige;
    padding-top: 50px;
}
.reason-section{
    font-size: 45px;
    font-weight: 800;
}
.learning{
    font-size: 18px;
    letter-spacing: 2px;
}
.support-section{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 150px;
    margin-top: 60px;
}

.vector{
    height: 80px;
    width: 80px;
    border-radius: 10px;
}
#aqua {
    background-color: aqua;
}

#yellow {
    background-color: rgb(171, 131, 14);
}

#violet {
    background-color: rgb(42, 38, 159);
}
.teacher{
    font-size: 20px;
    font-weight: 500;
    color: white;
    margin-top: 16px;
}
.system{
    font-size: 15px;
    color: white;
}
.small-image{
    margin: 25px 25px;
    width: 28px;
}

@media only screen and (max-width:480px ) {
    *{
        margin: 0;
        padding: 0;
    }
    body {
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        font-family: 'Jost', sans-serif;
    }
    .menu{
        display: none;
    }
    #sign-up {
        display: none;
    }
    .button1{
        display: flex;
        position: absolute;
        margin-top: 420px;
    }
    nav{
        display: flex;
        justify-content: space-around;
    }
    #user-profile{
        display: block;
    }
    #menu-icon{
        display: block;
    }
    .logo{
        margin-left: 30px;
        font-size: 10px;
    }
    #guru{
        font-size: 5vw;
    }
    .hero-section{
        display: block;
    }   
    .writing-section{
        height: 100%;
        width: 100%;
    }
    .writing{
        margin-top: 8vw;
        margin-left: 7vw;
    }
    .h1 {
        font-size: 4.5vw;
    }
    .learning-system>p{
        font-size: 3vw;
    }
    .orange-arrow{
        position: absolute;
        margin-top: 180px;
        margin-left: 30px;
        font-size: 15px;
    }
    .main-image-bg>img{
        width: 80vw;
        margin-left: 3vw;
        margin-top: 0;
    }
    #man-image{
        height: 280px;
        width: 64vw;
        margin-left: 28px;
    }        

    .main-image-pattern>img{
        position: absolute;
        width: 90vw;
        height: 300px;
        margin-top: 0px;
    }
    .circle{
        position: absolute;
        margin-top: 80%;
        margin-left: 85%;
    }
    .green-arrow {
        position: absolute;
        margin-top: 95%;
        margin-left: 10%;
    }
    .button1 {
        display: flex;
        justify-content: space-around;
        position: absolute;
        margin-top: 420px;
    }
    #get-started {
        padding: 18px 8vw;
        font-size: 18px;
        color: rgb(223, 206, 206);
        background-color: orangered;
        border: none;
    }
    #learn-more {
        padding: 18px 8vw;
        font-size: 18px;
        margin-left: 15px;
        border: 2px solid black;
    }
    .curve-arrow {
        position: absolute;
        margin-top: 650px;
        margin-left: 50vw;
    }
    .footer {
        height: 900px;
        margin-top: 600px;
        background-color: rgb(71, 71, 190);
        display: flex;
        flex-direction: column;
    }
     .best{
        width: 75%;
        margin-left: 25vw;
        
    }
    .reason-section {
       font-size: 8vw;
       font-weight: 800;
   }
   .learning {
       font-size: 3.5vw;
       letter-spacing: 2px;
   }
   .support-section{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 70px;
    } 
    .vector{
        margin-left: 10vw;
    }

}  




